*~
*.bak
*.swp

.vs
.vscode
CMakeSettings.json
CMakeLists.txt.user*
*.kdev4

/build
/scripts/__pycache__
/scripts/*.pyc
/scripts/*.pyd
/scripts/cidl_lextab.py
/scripts/cidl_parser.out
/scripts/cidl_parsetab.py
