[submodule "lib/subhook"]
	path = lib/subhook
	url = git://github.com/Zeex/subhook.git
[submodule "lib/python/ply"]
	path = lib/python/ply
	url = git://github.com/dabeaz/ply.git
	ignore = untracked
[submodule "lib/python/cidl"]
	path = lib/python/cidl
	url = https://github.com/Zeex/cidl.git
[submodule "lib/sdk"]
	path = lib/sdk
	url = https://github.com/Zeex/samp-plugin-sdk.git
