*     text=auto
*.c   whitespace=trailing-space, tabwidth=2, tab-in-indent
*.cpp whitespace=trailing-space, tabwidth=2, tab-in-indent
*.h   whitespace=trailing-space, tabwidth=2, tab-in-indent
*.hpp whitespace=trailing-space, tabwidth=2, tab-in-indent
*.py  whitespace=trailing-space, tabwidth=2, tab-in-indent
