/* Copyright (C) 2011-2018 Zeex
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

#include <windows.h>
#include <sampgdk/version.h>

#define SAMPGDK_VERSION_RC SAMPGDK_VERSION_MAJOR, \
                           SAMPGDK_VERSION_MINOR, \
                           SAMPGDK_VERSION_PATCH, \
                           0

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

1 VERSIONINFO
	FILEVERSION    SAMPGDK_VERSION_RC
	PRODUCTVERSION SAMPGDK_VERSION_RC
	FILEOS         VOS_NT_WINDOWS32
	FILETYPE       VFT_DLL
{
	BLOCK "StringFileInfo"
	{
		BLOCK "04090025"
		{
			VALUE "ProductName",     "SA-MP GDK"
			VALUE "FileDescription", "SA-MP GDK Runtime Library"
			VALUE "FileVersion",     SAMPGDK_VERSION_STRING
			VALUE "ProductVersion",  SAMPGDK_VERSION_STRING
		}
	}
	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 1033, 37
	}
}
